---
const { 
        TittleProyect, DescripProyect, 
        BtnViewPlus, ViewCode, IdCarrousel, 
        DataTargetCarrousel, ImgProyect1,
        ImgProyect2, ImgProyect3, indicesMostrar=[],
        isVisible = false,
    } = Astro.props;

import "../../assets/css/StyleSections.css"
import skillsData from "../../assets/JsonArchives/skillsDataProyects.json";
const skills = skillsData;
---

<section class="d-flex justify-content-center row mb-4 py-5">
  <!-- DESCRIPCION DEL PROYECTO -->
  <div class="col-lg-6 text-start">
    <h3 class="tituloProyecto text-success custom-shadow">
      <b>{ TittleProyect }</b>
    </h3>

    <p class="descripProyecto text-white d-none d-md-block">
      {DescripProyect}
    </p>
    <br>

    {
      isVisible ? (
        // VER CODIGO Y VIDEO DEL PROYECTO
        <div class="btnVerMas bg-transparent my-3">
          <h3 class="text-success custom-shadow d-none d-md-block"><b>Acciones</b></h3>
          {/* <button
            type="button"
            class="btn btn-outline-success fs-4 me-1"
            data-bs-toggle="modal"
            data-bs-target={BtnViewPlus}
          >
          <i class='bx bx-plus-medical'></i>
            Ver más
          </button> */}
          {/* PARA MOSTRAS EL CODIGO SI TENGO UN REPOSITORIO */}
          <a
            class="btn btn-outline-success" 
            href={ViewCode}
            title="Ver código"
            target="_blank"
          >
            <img
              class="iconImg"
              src="/SkillsIcons/github.ico"
              alt="Ver código"
            />     
            <b>Ver Código</b>     
          </a>
        </div>
        
      ) : null
    }
  </div>

  <!-- IMAGENES DEL CARRUSEL -->
  <div class="carousel slide col-lg-4" id={ IdCarrousel } style="width: 500px;">

    <div class="carousel-inner border border-2 border-success rounded">
      <div class="carousel-item active">
        <img src={ ImgProyect1 } class="ImgProyectsCarrousel">			
      </div>
      <div class="carousel-item">
        <img src={ ImgProyect2 } class="ImgProyectsCarrousel">
      </div>
      <div class="carousel-item">
        <img src={ ImgProyect3 } class="ImgProyectsCarrousel">
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target={ DataTargetCarrousel } 
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target={ DataTargetCarrousel } 
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    <br>
    
    <!-- TECNOLOGIAS DEL PROYECTO -->
    <div class="text-center ">
      <h3 class="text-success custom-shadow"><b>Tecnologías Utilizadas</b></h3>

      <div class="bg-transparent mb-2">
        {skills
          .filter((item) => indicesMostrar.includes(item.IdIcon)) // Filtra por IdIcon
          .map((item) => (
            <a
              class="btn btn-outline-success m-1 p-2"
              title={item.IconTitulo}
              href={item.IconWeb}
              target="_blank"
            >
              <img class="iconImg" src={item.RutaImg} alt={item.IconTitulo} />
            </a>
          ))}
      </div>
    </div>

  </div>



</section>



